*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}






.section1 .container{
    height:  600px;
    background-image: url("../imges/Bitmap.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

h1{
    font-size: 72px;
    line-height: 72px;
    text-align: Left;
    vertical-align: Top;
    width: 493px;
    color: #fff;
    margin-top: 117px;
    margin-left: 97px;
}

.section1-text{
    font-size: 16px;
    line-height: 26px;
    text-align: Left;
    vertical-align: Top;
    color: #fff;
    width: 420px;
    margin-left: 97px;
    margin-top: 32px;
}

.section1-link{
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    text-align: Center;
    vertical-align: Top;
    background-color: hsl(179, 81%, 29%);
    padding: 15px 31px;
    display: inline-block;
    margin-top: 56px;
    margin-left: 97px;
    color: #fff;

}

.meadel-section-list{
   display: flex;
   justify-content: space-around;
   width: 900px;
   list-style-type: none;
   margin-left: 165px;
}

.meadel-section__list__item{
    margin-left: 30px;
}

.section-meadel__paragrof{
    font-size: 24px;
    line-height: 32px;
    text-align: Center;
    vertical-align: Top;
    width: 255px;
}

.section-meadel__text{
    font-size: 16px;
    line-height: 26px;
    text-align: Center;
    vertical-align: Top;
    width: 255px;
}

.section-meadel-age{
    background-color: #272E37;
    height: 550px;
}

.section-meadel-age__paragrof{
    font-size: 30px;
    line-height: 48px;
    text-align: center;
    vertical-align : Top;
    color: #fff;
    margin-top: 121px;
}

.section-meadel-age__text{
    font-size: 16px;
    line-height: 16px;
    text-align:Center;
    vertical-align: Top;
    width: 540px;
    margin-left:  350px;
    color: #fff;
    margin-bottom: 86px;
    
}

.section-meadel-age__list  {

    display: flex;
    justify-content: space-between;
    list-style-type: none;
    margin-right: 30px;
}

.section-meadel-age__list__item{
    width: 350px;
    background-color: #0E8784;


    img{
        margin: 72px 140px;
        margin-bottom: 56px;
    }

    p{
        
    }
}



.list-paragraph{ 
    font-size: 24px;
    line-height: 32px;
    text-align: Center;
    vertical-align: Top;
}

.section-meadel-age__list__item a{
    align-items: center;
    text-decoration: none;
    color: #fff;

    .list-paragraph{
        margin-bottom: 24px;
    }

    p{
        width: 256px;
        margin-left: 47px;
        margin-bottom: 48px ;
        font-size: 16px;
line-height: 26px;
text-align: Center;
vertical-align: Top;
    }

}

.paragraph-finel-section{
    font-size: 24px;
line-height: 32px;
text-align: Left;
vertical-align: Top;
color: #83888F;

}

.finel-section{
  margin-top: 350px;

}

